#!/usr/bin/env python3
PACKAGE = "h7_tof_safety_bridge"

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, int_t


generator = ParameterGenerator()
generator.add(
    "baseline_mm",
    int_t,
    0,
    "Base distance in mm used for TOF safety evaluation.",
    391,
    0,
    65534,
)
generator.add(
    "tolerance_mm",
    int_t,
    0,
    "Upper tolerance in mm; H7 trips when distance exceeds baseline + tolerance.",
    28,
    0,
    65534,
)
generator.add(
    "release_hold_ms",
    int_t,
    0,
    "Manual-release hold time in ms before H7 re-asserts self_estop if faults persist.",
    3000,
    1,
    600000,
)

exit(generator.generate(PACKAGE, "h7_tof_safety_bridge", "SafetyBridge"))
