<launch>
  <arg name="port" default="/dev/ttyACM0"/>
  <arg name="baud" default="115200"/>
  <arg name="send_rate_hz" default="20.0"/>
  <arg name="prefer_board_persisted_params" default="true"/>
  <arg name="distance_topic" default="/h7_tof/distances_mm"/>
  <arg name="diagnostics_topic" default="/diagnostics"/>
  <arg name="baseline_mm" default="391"/>
  <arg name="tolerance_mm" default="28"/>
  <arg name="release_hold_ms" default="3000"/>

  <node pkg="h7_tof_safety_bridge" type="h7_tof_bridge_node.py" name="h7_tof_bridge" output="screen">
    <param name="port" value="$(arg port)"/>
    <param name="baud" value="$(arg baud)"/>
    <param name="send_rate_hz" value="$(arg send_rate_hz)"/>
    <param name="prefer_board_persisted_params" value="$(arg prefer_board_persisted_params)"/>
    <param name="distance_topic" value="$(arg distance_topic)"/>
    <param name="diagnostics_topic" value="$(arg diagnostics_topic)"/>
    <param name="baseline_mm" value="$(arg baseline_mm)"/>
    <param name="tolerance_mm" value="$(arg tolerance_mm)"/>
    <param name="release_hold_ms" value="$(arg release_hold_ms)"/>
  </node>
</launch>
